<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Will you be my Valentine?</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <!-- GIF area -->
    <img id="main-gif" class="gif"
         src="{{ url_for('static', filename='img/Please.GIF') }}"
         alt="Valentine GIF">

    <!-- Question -->
    <div id="question-row" class="question-row">
      <span class="question-text">Will you be my Valentine?</span>
      <img src="{{ url_for('static', filename='img/rose.png') }}" class="icon-small">
      <img src="{{ url_for('static', filename='img/heart.png') }}" class="icon-small">
    </div>

    <!-- Message area -->
    <div id="message">
      <div id="message-line1"></div>
      <div id="message-line2"></div>
    </div>

    <!-- Buttons -->
    <div class="buttons-row">
      <button id="yes-btn" class="btn yes-btn">
        <span>Yes</span>
        <img src="{{ url_for('static', filename='img/loved.png') }}" class="icon-btn">
        <img src="{{ url_for('static', filename='img/kiss.png') }}" class="icon-btn">
      </button>

      <button id="no-btn" class="btn no-btn">
        <span>No</span>
        <img src="{{ url_for('static', filename='img/crying.png') }}" class="icon-btn">
        <img src="{{ url_for('static', filename='img/heartbreak.png') }}" class="icon-btn">
      </button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
